output_test
JSON_CLAIMS
JSON_CLAIMS_CONVERTED

__pycache__/
*.pyc
*.pyo

metriche.json 
specifiche.json

NAME_PROFILING.csv

aligned_output.json
merged_fields_output.json
synonym_dict.json

aligned_metriche.json
aligned_specifiche.json
NAME_PROFILING_ALIGNED.csv

config.py